*{
    margin: 0;
    *{
        margin: 0;
        padding: 0;
        font-family: sans-serif;
    }
    .banner{
        width: 100%;
        height:100vh;
        background-color: rgb(33, 33, 75);
        margin: auto;
        width: auto;
        height: 1500px;
    }
    .logo{
        width: 200px;
        height: 200px;
        margin-top: 30px;
        margin-left: 20px;
    }
    .content{
        width: 100%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
        color: rgb(210, 219, 194);
        margin-top: -243px;
    }
    .content h1{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 70px;
        margin-top: 20px;
        margin-left: 20px;
    }
    li{
        background-color: rgb(33, 33, 75);
        border-color: white;
        border-style: solid;
        font-size: 18px;
        font-weight: bold;
        font-family: sans-serif;
        padding-left: 60px;
        padding-right: 60px;
        padding-top: 48px;
        padding-bottom: 48px;
        border: 40px;    
        border-radius: 12px;
        cursor: pointer;
        display: inline-block;
        margin-left: 120px;
        margin-top: 100px;
        border-radius: 12px;
    }    
    
    li :hover{
       color: rgb(33, 33, 75);
    }
    li::before{
       content: "";
       position: absolute;
       left: 0;
       top: 0;
       height: 100%;
       width: 100%;
       background: #000;
       z-index: -1;
       transition: transform 0.5s;
       transform-origin: 0 0;
       transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
    }
    
    li ::before{
      transform: scaleX(0);  
    }
    li::before{
        transform: scaleX(1);
    }
    a{
    color: white;
    border-color: #fff;
    border-style: solid;
    border-radius: 10px;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 30px;
    padding-bottom: 30px;
    }
    a:hover, a:active {
        background-color: white;
        opacity: 40%;
        color: rgb(33, 33, 75);
      }
.ross{
color: rgb(26, 26, 25);
font-size: 33px;   
margin-left: 90px;
margin-top: 50px;
text-align: left;
}
.ross p{
font-weight: bold;
font-size: 16px;  
}
.Ross a{
margin-left: 100px;
}
.icons{
    height: 90px;
    width: 60px;

}
.Glen{
background-color: rgba(165, 166, 164, 0.86); 
margin-left: -89px;

}

